/* You can add global styles to this file, and also import other style files */
.feature-header > h3 {
  margin-top: 0;
}

.content-header {
  display: flex;
  align-items: center;
  border-bottom: #dedede 1px solid;
}

.content-header > library-back-button {
  padding: 10px 0px 10px 30px;
}

.content-header > h2 {
  margin: 0 0 0 10px !important;
}

.required:after {
  content: " *";
  color: red;
}

/* Clarity Data Grid */
.datagrid-fixed-width {
  flex: 0 0 auto;
}
.width-fix-1 {
  width: 1rem;
  max-width: 1rem;
  min-width: 1rem !important;
}
.width-fix-2 {
  width: 2rem;
  max-width: 2rem;
  min-width: 2rem !important;
}
.width-fix-3 {
  width: 3rem;
  max-width: 3rem;
  min-width: 3rem !important;
}
.width-fix-4 {
  width: 4rem;
  max-width: 4rem;
  min-width: 4rem !important;
}
.width-fix-5 {
  width: 5rem;
  max-width: 5rem;
}
.width-fix-6 {
  width: 6rem;
  max-width: 6rem;
}
.width-fix-7 {
  width: 7rem;
  max-width: 7rem;
}
.width-fix-8 {
  width: 8rem;
  max-width: 8rem;
}
.width-fix-9 {
  width: 9rem;
  max-width: 9rem;
}
.width-fix-10 {
  width: 10rem;
  max-width: 10rem;
}
.width-fix-11 {
  width: 11rem;
  max-width: 11rem;
}
.width-fix-12 {
  width: 12rem;
  max-width: 12rem;
}
.width-fix-13 {
  width: 13rem;
  max-width: 13rem;
}
.width-fix-14 {
  width: 14rem;
  max-width: 14rem;
}
.width-fix-15 {
  width: 15rem;
  max-width: 15rem;
}
.center-text-h {
  text-align: center !important;
}
.center-text-v {
  display: flex;
  align-items: center !important;
}
