<clr-header class="header-6">
  <div class="branding">
    <a routerLink="" class="nav-link">
      <clr-icon shape="library" style="color: white"></clr-icon>
      <span class="title">Stadsbiblioteket</span>
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a
      routerLink="/employee"
      routerLinkActive="active"
      class="nav-link route-buttons"
      ><span class="nav-text">Anställda</span></a
    >
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button
        class="nav-icon"
        clrDropdownTrigger
        aria-label="toggle settings menu"
      >
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="angle down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a (click)="updateConnectionString()" clrDropdownItem
          >Ändra Connection String</a
        >
        <a (click)="resetData()" clrDropdownItem>Återställ data</a>
        <a (click)="deleteAllData()" clrDropdownItem>Rensa data</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
