<button
  type="button"
  class="btn btn-sm btn-primary"
  (click)="createNewEmployee()"
>
  <clr-icon shape="plus"></clr-icon> Ny
</button>

<button
  type="button"
  class="btn btn-sm"
  (click)="editSelectedEmployee()"
  [disabled]="selected.length !== 1"
>
  <clr-icon shape="pencil"></clr-icon> Ändra
</button>

<button
  type="button"
  class="btn btn-sm"
  (click)="deleteSelectedEmployees()"
  [disabled]="selected.length === 0"
>
  <clr-icon shape="times"></clr-icon> Ta bort
</button>

<clr-datagrid [(clrDgSelected)]="selected">
  <clr-dg-column [clrDgField]="'firstName'">Förnamn</clr-dg-column>
  <clr-dg-column [clrDgField]="'lastName'">Efternamn</clr-dg-column>
  <clr-dg-column [clrDgField]="'role'">Roll</clr-dg-column>
  <clr-dg-column [clrDgField]="'salary'">Lön</clr-dg-column>
  <clr-dg-column [clrDgField]="'managerId'">Manager</clr-dg-column>

  <clr-dg-row
    *clrDgItems="let employee of employees$ | async"
    [clrDgItem]="employee"
  >
    <clr-dg-cell>{{ employee.firstName }}</clr-dg-cell>
    <clr-dg-cell>{{ employee.lastName }}</clr-dg-cell>
    <clr-dg-cell>{{ getEmployeeRoleName(employee.role) }}</clr-dg-cell>
    <clr-dg-cell>{{ employee.salary }}</clr-dg-cell>
    <clr-dg-cell>{{ getManagerName(employee.managerId) }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Anställda per sida</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} av
      {{ pagination.totalItems }} anställda
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
